/* checkout */
.bb-checkout-sidebar {
    .about-order {
        textarea {
            &::placeholder {
                font-size: 14px;
                font-weight: 400;
                color: $text-color;
            }
        }
    }
}